$mobile-min: 320px;
$mobile: 480px;
$tablet: 768px;
$desktop: 1170px;

$title-color: #bdbdbd;
$main-color: #333333;
$text-color: #000000;

$second-bg-color: #fbfbfb;
$hover-color: #f2f2f2;
$link-bg-color: #ffffff;
$form-bg-color: #f3f3f3;
$form-color-star: #c30000;
$footer-bg-color: #2c2c2c;

$bold-font-family: "TTHoves";
$ligth-font-family: "TTHoves-Light";

$ligth-font-weigth: 300;
$font-weight-400: 400;
$bold-font-weigth: 700;

$mobile-font-size: 34px;
$tablet-font-size: 54px;
$desctop-font-size: 64px;
$text-font-size: 16px;

$desctop-line-heigth: 64px;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
